githubConfigUrl: https://github.com/plagueworks-org
githubConfigSecret: github-runner-secret
maxRunners: 3
minRunners: 1


# Explicitly set the controller service account to avoid auto-discovery
controllerServiceAccount:
  namespace: github-arc
  name: arc-controller-gha-rs-controller

# Custom runner image configuration
# template:
#   spec:
#     containers:
#       - name: runner
#         image: your-registry/your-custom-runner-image:tag
#         command: ["/home/runner/run.sh"]

# Custom runner image configuration
template:
  spec:
    containers:
      - name: runner
        image: ghcr.io/mervinhemaraju/runner-image-github:latest
        imagePullPolicy: Always
        command: ["/home/runner/run.sh"]
        # env:
        #   # Environment variables
        #   - name: GITHUB_ORG
        #     value: "plagueworks-org"
        volumeMounts:
          # OCI Config
          - name: oci-config
            mountPath: /home/runner/.oci/config
            subPath: config
            readOnly: true
          # OCI Keys
          - name: oci-keys
            mountPath: /home/runner/.oci/keys
            readOnly: true
          # Cloudflare config
          - name: cloudflare-config
            mountPath: /home/runner/cloudflare/cloudflare.ini
            subPath: ini
            readOnly: true

    volumes:
      # OCI Configuration
      - name: oci-config
        secret:
          secretName: runner-oci-config
          defaultMode: 0600
      # OCI Keys
      - name: oci-keys
        secret:
          secretName: runner-oci-keys
          defaultMode: 0600
      # Cloudflare Configuration
      - name: cloudflare-config
        secret:
          secretName: runner-cloudflare-config
          defaultMode: 0600